QMainWindow, QMessageBox{
    background-color: #303030
}
QMessageBox QPushButton{
    font-size: 20px;
    padding: 8px;

}
QLabel#guessing-label{
    letter-spacing: 8px;
}
QLabel{
    font-size: 25px;
    color: white;
}
QPushButton#keyboard-buttons{
    max-height: 40px;
    max-width: 40px;
    font-size: 30px;
}
QPushButton{
    border: none;
    background-color: #616161;
    color: #EEEEEE;
    border-radius: 15px;
}

QPushButton:disabled{
    color: #BDBDBD
}